<h1>Listing shipping_addresses</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Country</th>
      <th>Address</th>
      <th>Postal code</th>
      <th>State province</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_addresses.each do |shipping_address| %>
      <tr>
        <td><%= shipping_address.customer_id %></td>
        <td><%= shipping_address.country %></td>
        <td><%= shipping_address.address %></td>
        <td><%= shipping_address.postal_code %></td>
        <td><%= shipping_address.state_province %></td>
        <td><%= link_to 'Show', shipping_address %></td>
        <td><%= link_to 'Edit', edit_shipping_address_path(shipping_address) %></td>
        <td><%= link_to 'Destroy', shipping_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping address', new_shipping_address_path %>
