<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @shipping_address.customer_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shipping_address.address %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @shipping_address.postal_code %>
</p>

<p>
  <strong>State province:</strong>
  <%= @shipping_address.state_province %>
</p>

<%= link_to 'Edit', edit_shipping_address_path(@shipping_address) %> |
<%= link_to 'Back', shipping_addresses_path %>
