<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @prodcut.product_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @prodcut.name %>
</p>

<p>
  <strong>Qty on hand:</strong>
  <%= @prodcut.qty_on_hand %>
</p>

<p>
  <strong>Price:</strong>
  <%= @prodcut.price %>
</p>

<%= link_to 'Edit', edit_prodcut_path(@prodcut) %> |
<%= link_to 'Back', prodcuts_path %>
