<!DOCTYPE html>
<html>
<head>
  <title>Bill's Dive Shop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= image_tag 'diveShop.png', class: 'logo' %>
    <h1 id="title">Bill's Dive Shop</h1>
    <section id="topNav">
      <nav>
        <ol>
          <li class="accountNav"><a href="#">Sign in</a></li>
          <li class="accountNav"><a href="#">Register</a></li>
          <li class="accountNav"><a href="#">Log Out</a></li>
        </ol>
      </nav>
    </section>
    <section id="search">
      <p>Search our equipment:</p>
      <form>
        <input name="search" type="search" />
        <button type="submit">Search</button>
      </form>
    </section>
  </header>
    <section id="leftNav">
      <nav>
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="/categories/1">Air Tanks</a></li>
          <li><a href="/categories/2">Masks</a></li>
          <li><a href="/categories/3">Wetsuits & Drysuits</a></li>
          <li><a href="/categories/4">Buoyancy Control Device(BCD)</a></li>
          <li><a href="/categories/5">Regulators</a></li>
          <li><a href="/categories/6">Air Hoses</a></li>
          <li><a href="/categories/7">Miscellaneous</a></li>
          <li><a href="/products">All Products</a></li>
        </ol>
      </nav>
    </section>
    <section class="clearFix"></section>
    <footer>
      <%= image_tag 'diveShop.png', class: 'logo' %>
      <%= image_tag 'PADI_Flag.jpg', id: 'padi' %>
      <section id="bottomNav">
        <nav>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="/products">Equipment</a></li>
            <li><a href="#">Sign in</a></li>
          </ol>
        </nav>
      </section>
    </footer>


</body>
</html>
