<%= form_for(@order_list) do |f| %>
  <% if @order_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_list.errors.count, "error") %> prohibited this order_list from being saved:</h2>

      <ul>
      <% @order_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :num_ordered %><br>
    <%= f.number_field :num_ordered %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
